@use "estileira/common";

$stacks: 3;
$scale-factor: 0.7;

.stack {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-xxs);
  justify-content: center;
}
