{
  "plugins": ["jsx-a11y"],

  "extends": [
    "eslint:recommended",
    "plugin:eslint-comments/recommended",
    "next",
    "next/core-web-vitals",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],

  "overrides": [
    {
      "files": ["test/**/*", "**/__+(tests|mocks|snapshots)__/**/*"],
      "env": {
        "jest/globals": true
      },

      "plugins": ["jest"],

      "extends": ["plugin:jest/recommended"]
    },
    {
      "files": "*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": "plugin:@typescript-eslint/recommended"
    }
  ]
}
