@use "estileira/rhythm";
@use "estileira/common";

.container {
  background: #f9f9f9;
  display: grid;
  min-height: 100vh;
  padding: 0 clamp(1vw, 3vw, var(--space-xxs));

  @media screen and (min-width: common.breakpoints("pug")) {
    padding: 0 8vw;
  }

  @media screen and (min-width: common.breakpoints("saint-bernard")) {
    padding: 0 30vw;
  }
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-default);
}
