@use "estileira/common" with ($border-radius: var(--space-xs));

.button {
  align-items: center;
  background: transparent;
  border: common.rem(1) solid var(--gray-2);
  border-radius: common.$border-radius;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space-sm);
  justify-content: space-evenly;
  padding: var(--space-sm) var(--space-default);
}
