@use "styles-rhythm/common";
@use "styles-rhythm/rhythm";

.card {
  display: grid;
  grid-template-columns: 2vw auto;
  gap: var(--space-2-lines);
  border: common.rem(1) solid var(--gray-5);
  border-radius: var(--space-xs);
  padding: var(--space-lg);
  width: 100%;
  background: var(--color-background-1);

  .container {
    header {
      display: flex;
      flex-direction: column-reverse;

      .author {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--space-sm);

        > .username {
          color: var(--color-accent);
        }
      }
    }

    header,
    header > .author,
    .content {
      margin-bottom: var(--space-1-line);
    }

    h1,
    .card-content {
      word-wrap: anywhere;
    }
  }

  footer {
    @include rhythm.padding(1);

    border-top: common.rem(1) solid var(--gray-5);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
